<div class="form-actions">
  <button type="reset" class="action-button action-button-secondary">Close</button>
  <button type="submit" class="action-button action-button-primary">Submit</button>
</div>
